

.slide_1 {
  background-image: linear-gradient( to left , rgba(47, 55, 65, 0.5), rgba(48, 48, 48, 0.91)) , url("/assets/img2.jpg");
  background-size: cover;
  height: 75vh;
  background-position: center;
}

.slide_2 {
  background-image: linear-gradient( to right , rgba(47, 55, 65, 0.5),   rgba(48, 48, 48, 0.91))  ,  url("/assets/img3.jpg");
  background-size: cover;
  height: 75vh;
  background-position: center;
}

.slide_3 {
  background-image: linear-gradient( to left , rgba(47, 55, 65, 0.5),   rgba(48, 48, 48, 0.91))  ,  url("/assets/img1.jfif");
  background-size: cover;
  height: 75vh ;
  background-position: center;
}


.carousel-text-left {
  margin : 0 ;
  background-color: #3f915e ;
  padding: 40px ;
  position: relative;
  top : 30vh ;
  left:  0;
  display: inline-block;
}

.carousel-text-right {
  margin : 0 ;
  background-color: #3f915e ;
  padding: 40px ;
  position: relative;
  top : 30vh ;
  float: right;
  display: inline-block;
}


//animation
.scale-in-center {
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

