input[type="file"] {
  visibility: hidden ;
}

.btn {
  padding: 10px 12px 10px 12px;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
}

.uploadContainer {
  width: 55px;
  display: inline-block;
}
