.btn {
  margin : 0 10px ;
  padding: 10px 12px 10px 12px;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
}

.btn:hover {
  background-color: #cbcbcb;
}

.link {
  text-transform: none;
  text-decoration: none;
}


